body {
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.name-input-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leaderboard {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

#leaderboardContent {
  position: absolute;
  bottom: -100%;
  /* Start from below the screen */
  left: 50%;
  transform: translateX(-50%);
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

#restartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#restartButton:hover {
  background-color: #45a049;
}